img{
    width: 50;
    height: 50px;
}

span{
    background-color: rgb(70, 198, 217);
}

.item-01 {
    height: 30px;
    vertical-align: middle;

}

.item-02 {
    text-align:center ;
}
.container{
    border: 2px solid rgb(127, 127, 238);
    text-align: center;
}