body {
    background-color: palevioletred;
}

div {
    width: 300px;
    height: 300px;
    background-image: url('02-image.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 14px dashed paleturquoise;
    margin: 0 0 30px;
    padding: 30px;

}

#padding-box {
    background-origin: padding-box;
}

#border-box {
    background-origin: border-box;
}

#content-box {
    background-origin: content-box;
}