.container{
    background:lightcyan;
    padding: 20px;
    margin: 20px;
    width: 300px;

    display: flex;
    justify-content: space-around;

}

.item{
    background-color: bisque;
    padding: 15px;
}

#container-1{
    flex-flow: row wrap;
}

#container-2{
    height: 300px;
    flex-flow: column wrap-reverse;
}