.wrap{
    background: lightcyan;
    width: 400px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}    

.item{
    background: orchid;
    margin: 10px;
    
}

