.container{
    background: orchid;
    padding: 20px;
    margin: 20px;

    display: flex;
}

.item{
    background-color: olivedrab;
    margin: 10px;
}

#container-01{
    flex-direction:column;
}