div {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 30px solid;
    background-color: black;
}

#exemplo-1{
    border-image-source: url('Star.png');
    border-image-repeat: stretch;
    border-image-slice: 169;
    border-image-width: 20%;

}

#width {
    border-image-source: linear-gradient(red, blue, orange);
    border-image-slice: 100;
}

